.upper-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.upper-view1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.main-about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-text > .header-text {
  display: flex;
  flex-direction: row;
  text-shadow: none;
  font-size: 22px;
  color: #e63946;
  text-decoration: underline;
}
.about-text > .second-header-text {
  color: #e63946;
  text-shadow: 4px 5px 9px white;
  margin: 1rem 0;
  font-size: 30px;
  line-height: 2.4rem;
}
.about-text > .about-paragraph {
  color: #3b5272;
  font-size: x-large;
}

.activities-container {
  align-items: center;
  width: 50%;
  background: transparent;
  margin: 2rem auto 2rem auto;
  border: 0.2rem solid #3b5272;
  border-radius: 3%;
  line-height: 25px;
  font-family: "Gill Sans", Arial, Helvetica, sans-serif, "Gill Sans MT",
    "Trebuchet MS" !important;
  /* font-weight: 700; */
  font-size: 18px;
}
.image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: 5rem;
  width: 15%;
  /* margin-top: 2rem; */
  margin-bottom: 1.5rem;
}

.about-text {
  width: 50%;
  margin-bottom: 3%;
  margin-right: auto;
  font-size: 22px;
  color: #f1faee;
  text-align: left;
  line-height: 30px;
  letter-spacing: 4px;
  font-family: "Gill Sans", Arial, Helvetica, sans-serif, "Gill Sans MT",
    "Trebuchet MS" !important;
}

.skills {
  padding: 0 0 4rem 0;
}
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0;
}

html {
  scroll-behavior: smooth;
}

#desktop {
  display: block;
}
#mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .upper-view {
    height: auto;
  }
  .main-about {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  .image {
    width: 35%;
    margin: auto;
  }
  .image1 {
    margin-top: "3rem";
    width: 50%;
  }
  .about-text {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: large;
    margin-left: 1rem;
  }
  .activities-container {
    width: 95%;
  }
  #desktop {
    display: none;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .image {
    width: 20%;
  }

  .about-text {
    font-size: larger;

    margin-right: 8%;
  }
  .activities-container {
    width: 95%;
  }
}
