.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin-top: auto; /* Push footer to bottom in flex column layout */
  padding: 0.5rem 0; /* Natural height */
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-icon-link {
  color: rgb(7, 46, 75);
  font-size: 24px;
}

.website-rights {  
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgb(7, 46, 75);
}

.social-icon-link:hover {
  color: #e63946;
  font-size: 24px;
}
