.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* background: linear-gradient(90deg, #3b5272 0%, #162b47 100%); */
  background: transparent;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.social-icon-link {
  color: #3b5272;
  font-size: 24px;
}

.social-media-wrap {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: auto;
  width: 240px;
}

.website-rights {  
  padding: 1rem 4rem 4rem 1rem;
  text-align: center;
  color: #3b5272;
}

.social-icon-link:hover {
  color: #e63946;
  font-size: 24px;
}
