@import "./App.css";
@import "./NavBar.css";
@import "./Home.css";
@import "./TitleMessage.css";
@import "./About.css";
@import "./Cards.css";
@import "./Experience.css";
@import "./Skills.css";
@import "./Footer.css";
@import "./CertificateCard.css";
