html {
  /* background: url("https://images.unsplash.com/photo-1612538498456-e861df91d4d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80")
    no-repeat center center fixed; */
  background-color: #eceae7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-container {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* Fill the viewport between nav and footer so content can truly center */
  min-height: calc(100svh - var(--nav-h) - var(--footer-h));
}
.left-container {
  flex: 1 1 0;
  text-align: center;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration {
  width: 30rem;
  height: 30rem;
  margin-bottom: 10px;
}
.main-container > h1 {
  color: #fff;
  font-size: 70px;
}
.welcome {
  font-size: 40px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
@media screen and (max-width: 1300px) {
  .button-primary {
    margin-bottom: 0.5rem;
  }
  .social-button {
    flex-direction: column;
  }
  .resume-button {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .main-container {
    flex-direction: column;
  }
  .left-container {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .social-button {
    margin-bottom: 0rem;
  }

  .button-primary {
    text-decoration: none;
    font-size: 16px;
    margin-top: 0.5rem;
  }

  .button-outline {
    display: block;
    text-decoration: none;
    font-size: 16px;
  }

  .learn-more-button {
    width: 40%;
  }
  /* Hide Lottie illustration on phones */
  .illustration {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .main-btns {
    margin-bottom: 2rem;
  }
  .about-text1 {
    margin-top: 0rem;
  }
}

/* Reduce vertical footprint on short viewports to prevent initial scroll */
@media screen and (max-height: 600px) {
  .illustration {
    display: none;
  }
  .left-container {
    margin-left: 0;
  }
}
