---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import TitleMessage from "../components/TitleMessage.astro";
import Footer from "../components/Footer.astro";
import AOSInit from "../components/AOSInit.astro";
import initHomeLottieUrl from "../scripts/initHomeLottie.ts?url";
---

<BaseLayout title="Abdelrahman Elsayed | Home">
  <div class="App">
    <NavBar />
    <AOSInit />
    <div class="content-wrapper">
      <div class="main-container">
        <div class="title-container">
          <TitleMessage />
        </div>
        <div class="left-container">
          <div class="illustration" data-home-illustration></div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</BaseLayout>

<script type="module" src={initHomeLottieUrl}></script>
