---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import TitleMessage from "../components/TitleMessage.astro";
import Footer from "../components/Footer.astro";
import AOSInit from "../components/AOSInit.astro";
 
---

<BaseLayout title="Abdelrahman Elsayed | Home">
  <div class="App">
    <NavBar />
    <AOSInit />
    <div class="content-wrapper">
      <div class="main-container">
        <div class="title-container">
          <TitleMessage />
        </div>
        <div class="left-container">
          <div class="illustration" data-home-illustration></div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</BaseLayout>

<script type="module">
  import lottie from "lottie-web";
  import homeAnimation from "../assets/HomePageAnimation.json";

  const container = document.querySelector("[data-home-illustration]");
  if (container) {
    requestAnimationFrame(() => {
      lottie.loadAnimation({
        container,
        renderer: "svg",
        loop: true,
        autoplay: true,
        animationData: homeAnimation,
        rendererSettings: { preserveAspectRatio: "xMidYMid meet", progressiveLoad: true },
      });
    });
  }
</script>
