---
import resumePdf from "../assets/AbdelrahmanElsayed_resume_DEC24.pdf";
---

<footer class="footer-container">
  <div class="social-media-wrap">
    <a
      href="mailto:abdel.elsayed18@gmail.com"
      rel="noopener noreferrer"
      class="social-icon-link"
      target="_blank"
      aria-label="mail"
    >
      <i class="far fa-envelope"></i>
    </a>
    <a
      rel="noopener noreferrer"
      class="social-icon-link"
      href="https://www.youtube.com/channel/UCch1FgoG7eS1NeVbgVWTfyQ/videos"
      target="_blank"
      aria-label="Youtube"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      rel="noopener noreferrer"
      class="social-icon-link"
      href="https://www.linkedin.com/in/abdelrahman-elsayed-318539145/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a
      rel="noopener noreferrer"
      class="social-icon-link"
      href="https://github.com/abdel-elsayed"
      target="_blank"
      aria-label="GitHub"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      rel="noopener noreferrer"
      class="social-icon-link"
      href={resumePdf}
      target="_blank"
      aria-label="resume"
    >
      <i class="fas fa-id-badge"></i>
    </a>
  </div>
  <div style="padding-top: 2rem">
    <p class="website-rights">
      Designed, developed, deployed and maintained by yours truly using React.
      <br />
      A_ELSAYED © 2021
    </p>
  </div>
</footer>
